<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <!-- cungudafa百度收录验证编号 -->
  <!-- <meta name="baidu-site-verification" content="LukfTcyXmC" /> -->
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title itemprop="name"><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <% if (theme.favicon){ %>
    <link rel="shortcut icon" href="<%- theme.favicon %>">
  <% } %>
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="stylesheet" href="<%- theme.libs.css.googlefonts %>" media="all">
  <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
  <link rel="stylesheet" href="<%- theme.libs.css.style %>" type="text/css" media="all" id="saukra_css-css">
  <link rel="stylesheet" href="<%- theme.libs.css.fancybox %>" media="all">  
  <link rel="stylesheet" href="<%- theme.libs.css.lib %>" media="all">
  <link rel="stylesheet" href="<%- theme.libs.css.font %>" media="all">
  <link rel="stylesheet" href="<%- theme.libs.css.insight %>" media="all">
  <link rel="stylesheet" href="<%- theme.libs.css.tags %>" media="all">
  <% if (theme.libs.css.logo.enable){ %>
    <link rel="stylesheet" type="text/css" href="<%- theme.libs.css.logo.logo %>">
    <link rel="stylesheet" type="text/css" href="<%- theme.libs.css.logo.logo_fonts %>">
  <% } %>
  <script src="<%- theme.libs.js.jquery %>"></script>

  <!-- 分析 -->
  <%- partial('_partial/google-analytics') %>
  <%- partial('_partial/baidu-analytics') %>
  
  <!--   <link rel="stylesheet" id="saukra_css-css" href="https://2heng.xin/wp-content/cache/autoptimize/css/autoptimize_ad42a61f4c7d4bdd9f91afcff6b5dda5.css
  " type="text/css" media="all"> -->
  <script>
    /*Initial Variables*/
    var mashiro_option = new Object();
    var mashiro_global = new Object();
    mashiro_option.NProgressON = true;
    /* 
    * 邮箱信息之类的东西可以填在这里，这些js变量基本都作用于sakura-app.js
    * 这样的设置仅是为了方便在基于PHP开发的主题中设置js变量，既然移植到了Node上，我想或许可以精简这一逻辑吧
    */
    mashiro_option.email_domain = "";
    mashiro_option.email_name = "";
    mashiro_option.cookie_version_control = "";
    mashiro_option.qzone_autocomplete = false;
    mashiro_option.site_name = "<%- theme.prefixName%><%- theme.siteName%>";
    mashiro_option.author_name = "<%- theme.siteName%>";
    mashiro_option.site_url = "<%- theme.url%>";
    mashiro_option.v_appId = "<%= theme.valine.appId %>";//
    mashiro_option.v_appKey = "<%= theme.valine.appKey %>";//
    mashiro_option.mathjax = "<%= theme.mathjax %>";
    mashiro_option.copyright_enable = "<%= theme.copyright.enable %>" ;
    mashiro_option.copyright_minCharNumber = parseInt("<%= theme.copyright.minCharNumber %>") ;
    mashiro_option.copyright_description = "<%= theme.copyright.description %>" ;
    mashiro_option.qq_api_url = "https://api.mashiro.top/qqinfo/"; 
    mashiro_option.qq_avatar_api_url = "https://api.mashiro.top/qqinfo/";

    // mashiro_option.jsdelivr_css_src = "https://cdn.jsdelivr.net/gh/moezx/cdn@3.4.5/css/lib.min.css";
    // mashiro_option.float_player_on = true;

    /*End of Initial Variables*/
  </script>
  <script type="text/javascript">
    var bg = "<%= theme.bg%>".split(",");
    var bgindex = Math.floor(Math.random()*bg.length);
    if (!!window.ActiveXObject || "ActiveXObject" in window) { //is IE?
      alert('朋友，IE浏览器未适配哦~');
    }
  </script>

  <!--百度自动推送-->
  <%- partial('baidu-push') %>

  <!-- 灯笼样式开始 -->
  <style>
    @media only screen and (max-width: 760px) {
        .deng-box, .deng-box1 {
            display:none;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .right {
            float: left!important;
        }
    }
    .deng-box {
        position: fixed;
        top: 45px;
        left: 10px;
        z-index: 3;
    }
    .deng-box1 {
        position: fixed;
        top: 45px;
        right: 10px;
        z-index: 3;
    }
    .deng-box1 .deng {
        position: relative;
        width: 120px;
        height: 90px;
        margin: 50px;
        background: #d8000f;
        background: rgba(216, 0, 15, 0.8);
        border-radius: 50% 50%;
        -webkit-transform-origin: 50% -100px;
        -webkit-animation: swing 5s infinite ease-in-out;
        box-shadow: -5px 5px 30px 4px rgba(252, 144, 61, 1);
    }
    .deng {
        position: relative;
        width: 120px;
        height: 90px;
        margin: 50px;
        background: #d8000f;
        background: rgba(216, 0, 15, 0.8);
        border-radius: 50% 50%;
        -webkit-transform-origin: 50% -100px;
        -webkit-animation: swing 3s infinite ease-in-out;
        box-shadow: -5px 5px 50px 4px rgba(250, 108, 0, 1);
    }
    .deng-a {
        width: 100px;
        height: 90px;
        background: #d8000f;
        background: rgba(216, 0, 15, 0.1);
        margin: 12px 8px 8px 10px;
        border-radius: 50% 50%;
        border: 2px solid #dc8f03;
    }
    .deng-b {
        width: 45px;
        height: 90px;
        background: #d8000f;
        background: rgba(216, 0, 15, 0.1);
        margin: -4px 8px 8px 26px;
        border-radius: 50% 50%;
        border: 2px solid #dc8f03;
    }
    .xian {
        position: absolute;
        top: -20px;
        left: 60px;
        width: 2px;
        height: 20px;
        background: #dc8f03;
    }
    .shui-a {
        position: relative;
        width: 5px;
        height: 20px;
        margin: -5px 0 0 59px;
        -webkit-animation: swing 4s infinite ease-in-out;
        -webkit-transform-origin: 50% -45px;
        background: #ffa500;
        border-radius: 0 0 5px 5px;
    }
    .shui-b {
        position: absolute;
        top: 14px;
        left: -2px;
        width: 10px;
        height: 10px;
        background: #dc8f03;
        border-radius: 50%;
    }
    .shui-c {
        position: absolute;
        top: 18px;
        left: -2px;
        width: 10px;
        height: 35px;
        background: #ffa500;
        border-radius: 0 0 0 5px;
    }
    .deng:before {
        position: absolute;
        top: -7px;
        left: 29px;
        height: 12px;
        width: 60px;
        content: " ";
        display: block;
        z-index: 999;
        border-radius: 5px 5px 0 0;
        border: solid 1px #dc8f03;
        background: #ffa500;
        background: linear-gradient(to right, #dc8f03, #ffa500, #dc8f03, #ffa500, #dc8f03);
    }
    .deng:after {
        position: absolute;
        bottom: -7px;
        left: 10px;
        height: 12px;
        width: 60px;
        content: " ";
        display: block;
        margin-left: 20px;
        border-radius: 0 0 5px 5px;
        border: solid 1px #dc8f03;
        background: #ffa500;
        background: linear-gradient(to right, #dc8f03, #ffa500, #dc8f03, #ffa500, #dc8f03);
    }
    .deng-t {
        font-family: 华文行楷;
        font-size: 26px;
        color: #dc8f03;
        font-weight: bold;
        line-height: 44px;
        text-align: center;
    }
    .night .deng-t,
    .night .deng-box,
    .night .deng-box1 {
        background: transparent !important;
    }
    @-moz-keyframes swing {
        0% {
                -moz-transform: rotate(-10deg)
        }
        50% {
             -moz-transform: rotate(10deg)
        }
        100% {
                -moz-transform: rotate(-10deg)
        }
    }
    @-webkit-keyframes swing {
        0% {
                -webkit-transform: rotate(-10deg)
        }
        50% {
                -webkit-transform: rotate(10deg)
        }
        100% {
                -webkit-transform: rotate(-10deg)
        }
    }
  </style>
  <div class="deng-box">
    <div class="deng">
        <div class="xian"></div>
        <div class="deng-a">
            <div class="deng-b"><div class="deng-t">喜迎</div></div>
        </div>
        <div class="shui shui-a"><div class="shui-c"></div><div class="shui-b"></div></div>
    </div>
  </div>
  <div class="deng-box1">
    <div class="deng">
        <div class="xian"></div>
        <div class="deng-a">
            <div class="deng-b"><div class="deng-t">新春</div></div>
        </div>
        <div class="shui shui-a"><div class="shui-c"></div><div class="shui-b"></div></div>
    </div>
  </div>
  <!-- 元宵节灯笼样式结束 -->
</head> 
